<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Google Spreadsheets over REST</title>
  </head>
  <body>
    <form action="/" method="post" accept-charset="utf-8">
      <p>
        URL: <input type="text" name="url" />
      </p>
      <p>
        ID column: <input type="text" name="id_column" />
      </p>
      <p><input type="submit" value="Continue →"></p>
    </form>
  </body>
</html>
